<div class="nav-bar">
    <a href="/home"style="color: white;"><i class="fas fa-home"></i></a>
   <div class="links">
       <span class="separator">></span>
       <a href="/billing">Customer Billing</a>
       <span class="separator">></span>
       <a href="{{ url_for('stock_entry') }}">Stock Entry</a>
       <span class="separator">></span>
       <a href="{{ url_for('customer_detail') }}">Customer Details</a>
       <span class="separator">></span>
       <a href="/order">Order Details</a>
   </div>
</div>