<nav style="width: auto;height: 50px;">
    <div class="left" style="width:fit-content;margin: 10px;">
        <img  style="width: 200px;" src="static/images/logo.svg" alt="Company Logo">
    </div>
    <div class="right" style="height: 20px;">
        <a href="/home">Home</a>
        <a href="/list_orders">View Orders</a>
        <div class="admin" onclick="toggleDropdown()">
            <div class="circle" style="width: 50px;height: 50px;"><i class="fas fa-user"></i></div>
            <div class="dropdown">
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>